body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* label {
    color:#333;
    font-size: 1.2rem;
} */

/* h1.page-title {
    max-width: 640px;
} */


/* .main {
    padding: 1rem; 
} */
/* 
.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0%;
    overflow-y: auto;
    height: 0px;
}

.flex-col {
    flex-direction: column;
} */

/* .hidden {
    display: none;
} */

/* .block {
    display: block;
} */

/* .form-control {
    padding:0.75rem 0.5rem;
    width:100%;
    max-width: 380px;

} */

/* .my-1 {
    margin: 0.25rem 0;
} */



.h-fill {
    height: 34rem
}

/* ul {
    list-style-type:none;
    margin:0;
    padding:0;
} */

/* ul.out {    
    margin-top:0.25rem; 
    max-width: 640px;
} */



ul.out li {
    padding:0.75rem 0.5rem;
    background-color: #f0f0f0;
    border: solid 1px #e7e7e7;

}

/* .h-80 {
    height: 20rem;
} */
/* .overflow-y-scroll{
    overflow-y: scroll;
} */

